<div class="container">
  <h4 class="mt-4 pt-4 p-2">Job Creation :</h4>
  <mdb-card class="mt-1 pt-1 p-2 pb-4 mb-4">

    <div class="row  mt-1 pt-1">
      <div class="col-sm">
        <label> Choose Route</label>
        <select placeholder="Select a Route" class="browser-default custom-select">
          <option value="Route One">Route One</option>
          <option value="Route Two">Route Two</option>
          <option value="Route Three">Route Three</option>
        </select>
      </div>
      <div class="col-sm">
        <label> Choose Source</label>
        <select class="browser-default custom-select">
          <option value="Source One">Source One</option>
          <option value="Source Two">Source Two</option>
          <option value="Source Three">Source Three</option>
        </select>
      </div>
      <div class="col-sm">
        <label> Choose Destation</label>
        <select class="browser-default custom-select">
          <option value="Destation One">Destation One</option>
          <option value="Destation Two">Destation Two</option>
          <option value="Destation Three">Destation Three</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="row mt-4">
          <button type="button" mdbBtn color="primary" (click)="basicModal.show()" mdbWavesEffect>Start</button>
          <button type="button" mdbBtn color="light" mdbWavesEffect>Reset</button>
        </div>
      </div>
      <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Are you sure you want to create a job?
            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
                (click)="basicModal.hide()" mdbWavesEffect>No</button>
              <button type="button" (click)="basicModal.hide()" mdbBtn color="primary" class="relative waves-light"
                mdbWavesEffect>Yes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mdb-card>
  <h4>Controler for Running Jobs</h4>
  <mdb-card class="mt-1 pt-1 pb-4 mb-4">
    <table mdbTable striped="true" class="mt-4">
      <thead>
        <tr>
          <th [mdbTableSort]="elements" sortBy="route">Route <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="elements" sortBy="source">Source <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="elements" sortBy="destation">Destination <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="elements" sortBy="startTime">Start Time<mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th>End Job
          </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of elements">
          <th scope="row">{{el.route}}</th>
          <td>{{el.source}}</td>
          <td>{{el.destation}}</td>
          <td>{{el.startTime}}</td>
          <td><button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" mdbWavesEffect>End
              JOb</button></td>
        </tr>
      </tbody>
    </table>
  </mdb-card>
  <h4>Historic Data</h4>
  <mdb-card class="mt-1 pt-1 pb-4 mb-4">
    <table mdbTable striped="true" class="mt-4">
      <thead>
        <tr>
          <th [mdbTableSort]="historicalElements" sortBy="route">Route <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="historicalElements" sortBy="source">Source <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="historicalElements" sortBy="destation">Destination <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="historicalElements" sortBy="startTime">Start Time<mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="historicalElements" sortBy="endTime">End Time<mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of historicalElements">
          <th scope="row">{{el.route}}</th>
          <td>{{el.source}}</td>
          <td>{{el.destation}}</td>
          <td>{{el.startTime}}</td>
          <td>{{el.endTime}}</td>
        </tr>
      </tbody>
    </table>
  </mdb-card>

</div>